body {
    height: 2000px; /* ارتفاع كبير ليظهر الـ scroll */
    background-color: lightgray; /* فقط للتوضيح */
}



.header {
width: 70%;
height: 600px;
background-color: grey;
position: relative;
top: 90px; /* تعديل هذه القيمة حسب ارتفاع النافبار */
margin: auto;
border-radius: 15px;
}

.header22 {
width: 70%;
height: 600px;
background-color: grey;
position: relative;
top: 300px; /* تعديل هذه القيمة حسب ارتفاع النافبار */
margin-bottom: 50px;
margin: auto;
border-radius: 15px;
}


@media only screen and (max-width: 390px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h2{
        font-weight: 20px;
    }

}



.footer{

    width: 90%;
    height: 400px;
    background-color: #343a40;
    border-radius: 100px 100px 0px 0px;
    
}